.Gallery-grid{
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.grid-image{
    width: 31%;
    margin:10px;
    background-color: #F2F2F2;
    height: 300px;
}

.grid-image img {
    width: 100%;
    height: 100%;
}