.Gallery-grid{
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.grid-image{
    width: 31%;
    margin:10px;
    background-color: #F2F2F2;
    height: 300px;
}

.grid-image img {
    width: 100%;
    height: 100%;
} 

/* Responsive Design  */

@media screen and (max-width: 977px) {
    .grid-image {
        width:45%;
    }
}

@media screen and (max-width: 540px) {
    .grid-image {
        width:100%;
    }
}

@media screen and (max-width: 440px) {
    .grid-image {
        height: 200px;
    }
}