.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin:15px;
    
}

.slider .img-slide{
    width: 99%;
    height: 600px;
}

.slider .img-slide img {
    width: 100%;
    height: 100%;
}

.slider .control button {
    font-size: 40px;
    padding: 15px;
    border-radius: 25%;
    opacity: 0;
    overflow: hidden;
    border: none;
}

.slider .control button:hover{
    cursor: pointer;
    background-color: #F2F2F2;;
    opacity: 1;
}

.pages{
    display: flex;
    justify-content: center;
}

.pages input{
    text-align: center;
}

.pages div{
    margin-right: 10px;
}

/* Responsive Design  */

@media screen and (max-width: 768px) {
    .slider .img-slide{
        height: 500px;
    }
}

@media screen and (max-width: 540px) {
    .slider .img-slide{
        height: 300px;
    }
}

    @media screen and (max-width: 440px) {
        .slider{
            margin-left: 0;
        }
        .slider .img-slide{
            height: 200px;
            margin:0px;
        }
        .slider .control button {
            font-size: 20px;
            padding: 5px;
        }

        .pages input{
            width: 40px;
            font-size: 10px;
        }

        .lbl{
            font-size: 10px;
        }
}


@media screen and (max-width: 340px) {
    .slider .img-slide{
        height: 150px;
        margin:0px;
    }

    .pages input{
        width: 35px;
        font-size: 6px;
    }

    .pages input[type="checkbox"]{
        height: 8px;
    }

    .pages .lbl{
        font-size: 6px;
    }
}